/*Hoja de Estilos V
Autor: Cristian García
Url: gitlab.com/
Version: 1.0
*/

/*

1. Etiquetas base
2. cabecera
3. Menu de Navegacioón
4. Cuerpo
5. Footer

*/


/* Etiquetas base ---------------------------*/

body{
  background-color: black;
  font-size: 18px;
}

header {


}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.1em;
}


nav{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;

}

figure{
  margin: 0px;
  padding: 1.5em;
}


/* Cabecera ---------------------------*/

header {
  display: flex;
  flex-flow: row;
  animation: animacion 3s;

}

@-webkit-keyframes animacion {
10%{
  margin-top: 150%;

}
60%{
  margin-top: -5%;

}
100%{

  margin-top: 0%;
}

}

.cabecera1 {

  flex-grow: 3;
  background-color: #a9d06b;
  padding: 0.5em 0.5em 0.5em 2em;

  border-top-left-radius: 1em;


}

.cabecera2 {

  background-color: #a9d06b;
  padding: 10px;
  border-top-right-radius: 1em;


}

/* Menu de Navegacion ---------------------------*/

li{
display: inline;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;

}

li a{
display: inline;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;

}

#current{
  text-decoration: underline;
}


/* Contenido ---------------------------*/
#principal{
background-color: #c7c886;

}


#secundaria{
background-color: #e3e4b7;
display: flex;

flex-flow: row;

}
.inferior{
display: flex;
flex-grow: 1;
width: 50%;
text-align: center;
font-family: 'Merriweather', serif;
font-weight: 300;
text-transform: uppercase;
font-size: 0.8em;
text-decoration: none;

}
#izquierda img{
  transform: rotate(0deg);
  transition: transform 1s;
    cursor:pointer;
}

#derecha img{
  transform: translate(0px, 0px);
  transition: transform 1s;
    cursor:pointer;
}


#izquierda img:hover{
  transform: rotate(10deg);
  transition: transform 1s;
    cursor:pointer;
}

#derecha img:hover{
  transform: translate(20px, -10px);
  transition: transform 1s;
    cursor:pointer;
}

.central img{
  filter:grayscale(0);
  cursor:pointer;
  transition: filter 1s;
}

.central img:hover{
  filter:grayscale(0.8);
  animation: rotate(30deg)
  cursor:pointer;
  transition: filter 1s;
}

/* Seccion de Galeria ------------------*/

#contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  background: #e3e4b7;

}

.galeria {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  width: 25%;
  color: #fff;


}

#uno{
  -webkit-filter: blur(20px);
}

#dos{
  -webkit-filter: grayscale(1);
}

#tres{
  -webkit-filter: sepia(1);
}

#cuatro{
  -webkit-filter: contrast(1);
}

#cinco{
  -webkit-filter: hue-rotate(1);
}

#seis{
  -webkit-filter: invert(1);
}

/* Footer ---------------------------*/


footer {
  display: flex;
  flex-flow: row;
  background-color: #adc38a;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

}

.columas_footer {

  flex-grow: 1;
  margin: 10px;
  width: 25%;
  color: #fff;

}



/* mediaqueres ---------------------------*/

@media screen and (max-width:600px) {

  footer {
    display: block;
    background-color: #adc38a;

  }

  .columas_footer {

    flex-grow: 1;
    margin: 10px;
    width: 100%;
    color: #blue;

  }

  header {
    display: block;
    animation: animacion 3s;


  }




  .cabecera1 {
    display: block;
    background-color: #a9d06b;
    text-align: center;

  width: 100%
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;


  }

  .cabecera2 {

    display:flex;
    padding-bottom: 10px;
    background-color: #a9d06b;
      border-top-right-radius: 0em;
  }
  li{
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: dotted;
    border-color: #fff;


  }

  #secundaria{
  background-color: #e3e4b7;
  display: flex;

  flex-flow: column;

  }
  .inferior{
  display: block;
  width: 100%;


  }

  #contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    background: #e3e4b7;

  }

  .galeria {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    color: #fff;


  }



}
